.catalogo {
    background-color: white;
   
}
#article-catalogo {
    text-align: center;
    padding-top: 3%;
    font-weight: 800;
    text-decoration-color: #fe7467;
}
#div_catalogo{
    margin-right: auto;
	margin-left: auto;
	width: 100px;
	margin-top: 10px;
	border-bottom: 3px solid;
    color: #fe7467;
}
.container {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}
.market{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.market img {
    width: 50%;
}
.market p {
    margin-top: auto;
    width: auto;
    font-size: 16px;
    text-align: left;
    font-weight: 600;
    margin-right: 5%;
}
.button{
    margin-top: 5%;
    display: flex;

}
.button a {
    border-radius: 10px;
    background-image: linear-gradient(#fe7467 , #fc3836) ;
    text-align: center;
    padding: 15px;
    font-size: 15px;
}
.button a:hover{
    background-image: linear-gradient(#fc3836 , #fe7467);
    box-shadow: 0 4px 8px 0 rgb(226, 226, 226);
}

@media screen and (min-width:300px) and (max-width: 600px) {
    .market{
        flex-wrap: wrap-reverse;
        align-content: center;
        padding-bottom: 60px;
    }
    .market p{
        text-align: center;
        margin-left: 5%;
    }
    .market image{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        
    }
    .button a{
        font-size: 10px;
        font-weight: 800;
        margin-left: auto; 
        margin-right: auto;

    }
    #article-catalogo{
        font-size: 15px;
        padding-top: 4%;
    }

}