#contact-header{
    height: 700px;
    background-image: url(../../assets/images/contatoheader.jpg);
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
#fale-conosco{
    display: flex;
    margin-right: 50%;
    margin-top: 10%;
    width: 25%;
    margin-left: 9%;
}
#titulo{
    align-items: center;
}
.form-contato{
    background-color: white;
    margin-bottom: 20px;
}
#titulo-entre-em-contato{
    text-align: center;
    margin-top: 5%;
    font-weight: 600;
}

#contato-sub{
    margin-right: auto;
    margin-left: auto;
    width: 150px;
    margin-top: 1%;
    border-bottom: 3px solid #fe7467;
}

#text-contato{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    font-size: 15px;
    font-weight: 550;
}
.formulario{
    padding: 25px;
    margin: 2px;
    font-size: 15px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid rgb(117, 117, 117);
    gap: 1px;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
}

#text-area{
    resize: none;
    padding: 20px;
    margin-top: 2px;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid rgb(117, 117, 117);
    width: 100%;
}

#botao-enviar {
    width: 100%;
    padding: 15px 290px;
    text-align: center;
    background-image: linear-gradient(#fe7467 , #fc3836) ;
    color: white;
    font-weight: 800;
    border-radius: 10px ;
    border: none;
    margin-top: 10px;

}
#botao-enviar:hover {
    background-image: linear-gradient(#fc3836 , #fe7467);
    box-shadow: 0 4px 8px 0 rgb(226, 226, 226);
    cursor: pointer;
}
button{
    width: 100%;
}